body {
  background: #8bf;
}

h1 {
  font-size: 36px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

#container {
  display: block;
  height: 300px;
  margin: auto;
  width: 400px;
  cursor: pointer;
}

canvas {
  background: #def;
  border: 1px solid black;
  position: absolute;
}

canvas#game-effects {
  background: transparent;
}
